.footer {
	padding-top: rem(133px);
	background-color: $white;

	&__container {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(90px);
	}

	&__block {
		display: flex;
		flex-direction: column;
		padding-top: rem(10px);
		font-size: $font-size-mini;
		line-height: rem(27px);

		&--1 {
			max-width: rem(315px);
			padding-top: 0;
		}		
	}

	&__h4 {
		margin-bottom: rem(22px);
	}

	&__socials {
		margin-top: rem(20px);
		display: flex;
		align-items: center;
		
		&-link {
			margin-right: rem(27px);
			color: $black;

			&:hover {
				color: $color1;
			}
		}
	}

	&__list {

		&--4 {	
			height: 100%;		
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}


	&__link {
		display: block;
		color: $black;

		&:hover {
			color: $color1;
		}

		&--4 {
			display: flex;
			align-items: center;

			& svg {
				margin-right: rem(13px);
			}
		}
	}

	&__copyright {
		margin-bottom: rem(50px);
		color: $color3;
		font-size: $font-size-mini;
		text-align: center;
	}

}