.icon {
	&--arrow-left {
		width: rem(33px);
		height: rem(33px);
	}

	&--arrow-right {
		width: rem(33px);
		height: rem(33px);
	}

	&--email {
		width: rem(24px);
		height: rem(24px);
	}

	&--facebook {
		width: rem(30px);
		height: rem(30px);
	}

	&--instagram {
		width: rem(30px);
		height: rem(30px);
	}

	&--location {
		width: rem(24px);
		height: rem(24px);
	}

	&--phone {
		width: rem(24px);
		height: rem(24px);
	}

	&--twitter {
		width: rem(24px);
		height: rem(24px);
	}

	&--burger {
		width: rem(24px);
		height: rem(24px);
	}

	&--close {
		width: rem(24px);
		height: rem(24px);
	}

}